{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "airbnb", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "import", "jsx-a11y", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-underscore-dangle": "off",
    "react/prop-types": 0,
    "indent": ["error", 2],
    "linebreak-style": 1,
    "react/react-in-jsx-scope": 0,
    "react/jsx-uses-react": 0
  }
}
