{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["jsx-a11y", "prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "linebreak-style": 1,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
    // "react/react-in-jsx-scope": 0,
    // "react/prop-types": 0,
    // "no-console": "off",
    // "no-underscore-dangle": "off",
    // "indent": ["error", 2],
  }
}
