.AuthForm {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow-3);
  border-radius: var(--border-radius);
}

h2 {
  text-align: center;
}

.auth_error {
  color: var(--red-dark);
  background-color: var(--red-light);
}

.submit_btn {
  margin: 0.5rem 0 1rem;
}

.switch_auth_text {
  text-align: center;
}
