/* Fonts import */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Variables */
:root {
  /* Colors */
  --primary-50: #ffeae6;
  --primary-100: #ffc0b3;
  --primary-200: #fe9680;
  --primary-300: #fe6c4d;
  --primary-400: #fe421a;
  --primary-500: #e52901;
  --primary-600: #b22001;
  --primary-700: #7f1701;
  --primary-800: #4c0e00;
  --primary-900: #190500;

  --secondary: #ffd7d7;

  /* Greys */
  --grey-50: #fbfbfd;
  --grey-100: #f4f4f7;
  --grey-200: #e0e1eb;
  --grey-300: #b7b9c8;
  --grey-400: #9a9db2;
  --grey-500: #73758b;
  --grey-600: #636782;
  --grey-700: #4d5065;
  --grey-800: #373948;
  --grey-900: #21222b;

  /* Other colors */
  --black: #0b0b0e;
  --white: #ffffff;
  --danger-background: var(--secondary);
  --danger-text: var(--primary-600);
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --heart-like-color: #da7b83;
  --heading-color: var(--grey-600);
  --text-color: var(--grey-700);
  --background-color: var(--white);

  /* Fonts  */
  --heading-font: 'Lato', sans-serif;
  --body-font: 'Lato', sans-serif;
  --letter-spacing: 0.5px;

  /* Wrappers */
  --wrapper: 1276px;
  --wrapper-large: 1476px;
  --post-max-width: 40rem;
  --fixed-width: 600px;

  --wrapper-padding: 2rem;
  --wrapper-padding-md: 1.5rem;
  --wrapper-padding-sm: 1rem;

  /* Other vars */
  --header-height: 5.5rem;
  --border-radius: 0.6rem;
  --btn-border-radius: 0.4rem;
  --transition: 0.15s ease-in-out all;

  /* Box shadows */
  --shadow-1: rgba(33, 34, 43, 0.1) 0px 1px 4px;
  --shadow-2: rgba(33, 34, 43, 0.15) 1px 2px 6px;
  --shadow-3: rgba(33, 34, 43, 0.08) 1px 2px 10px;
  --shadow-4: rgba(33, 34, 43, 0.2) 1px 2px 10px;
  --inner-shadow-1: inset rgba(33, 34, 43, 0.03) 1px 2px 10px;
}

@media screen and (max-width: 576px) {
  :root {
    --header-height: 5rem;
  }
}

/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
  font-size: 1.05rem;
  font-weight: 400;

  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
}

/* Fonts */
p {
  max-width: 40rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

/* Containers / Wrappers */
.wrapper {
  width: 100%;
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

/* Buttons */
button {
  user-select: none;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  text-align: center;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.btn:hover {
  box-shadow: var(--shadow-2);
}

.btn:active {
  box-shadow: none;
}

.btn-primary-red {
  color: var(--white);
  background: var(--primary-500);
  border: 2px solid var(--primary-500);
}

.btn-primary-red:hover {
  color: var(--white);
  background: var(--primary-600);
  border: 2px solid var(--primary-600);
}

.btn-primary-red:active {
  color: var(--white);
  background: var(--primary-400);
  border: 2px solid var(--primary-400);
}

.btn-secondary-red {
  color: var(--primary-500);
  background: transparent;
  border: 2px solid var(--primary-500);
}

.btn-secondary-red:hover {
  color: var(--primary-600);
  border: 2px solid var(--primary-600);
}

.btn-secondary-red:active {
  color: var(--primary-400);
  border: 2px solid var(--primary-400);
}

.btn-primary-grey {
  color: var(--white);
  background: var(--grey-500);
  border: 2px solid var(--grey-500);
}

.btn-primary-grey:hover {
  color: var(--white);
  background: var(--grey-400);
  border: 2px solid var(--grey-400);
}

.btn-primary-grey:active {
  color: var(--white);
  background: var(--grey-600);
  border: 2px solid var(--grey-600);
}

.btn-secondary-grey {
  color: var(--grey-500);
  background: transparent;
  border: 2px solid var(--grey-500);
}

.btn-secondary-grey:hover {
  color: var(--grey-400);
  border: 2px solid var(--grey-400);
}

.btn-secondary-grey:active {
  color: var(--grey-600);
  border: 2px solid var(--grey-600);
}

.btn-ghost {
  color: var(--primary-500);
}

.btn-ghost:hover {
  color: var(--primary-300);
  text-decoration: underline;
}

.btn-ghost:active {
  color: var(--primary-600);
  text-decoration: underline;
}

.btn-block {
  width: 100%;
}

.limit-text-btn {
  padding-left: 0.5rem;
  font-size: inherit;
  color: var(--grey-400);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.limit-text-btn:hover {
  color: var(--grey-600);
  text-decoration: underline;
}

/* alerts */
.alert {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-color: transparent;
  border-radius: var(--btn-border-radius);
}

.alert-danger {
  color: var(--danger-text);
  background: var(--danger-background);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.alert-li {
  list-style-type: disc;
  margin-left: 1.5rem;
  /* margin: 0.5rem 0 0.5rem 1.5rem; */
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-group {
  margin-bottom: 1.25rem;
  width: 100%;
}

.form-label {
  display: block;
  padding-left: 0.2rem;
  margin-bottom: 0.35rem;
  letter-spacing: var(--letter-spacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--grey-200);
  outline: none;
  resize: none;
}

.form-textarea {
  height: 3rem;
  overflow: hidden;
  line-height: 1.4;
  letter-spacing: 0.15px;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  border: 1px solid var(--grey-500);
}

.form-input.error,
.form-textarea.error {
  border: 1px solid var(--danger-text);
}

.form-input:focus-visible.error {
  border: 2px solid var(--danger-text);
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-emoji-padding {
  padding-right: 2.5rem;
}

.form-alert {
  display: block;
  color: var(--danger-text);
  letter-spacing: 0.6px;
  margin-top: 0.25rem;
  padding-left: 0.2rem;
}

.form-file-label {
  cursor: pointer;
  color: var(--grey-600);
  transition: var(--transition);
  user-select: none;
}

.form-file-label:hover {
  color: var(--grey-400);
  user-select: none;
}

.form-file-input {
  display: none;
}

/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  small,
  .text-small {
    font-size: var(--small-text);
  }

  .wrapper {
    padding-left: var(--wrapper-padding-md);
    padding-right: var(--wrapper-padding-md);
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text-small {
    font-size: var(--small-text);
  }

  .wrapper {
    padding-left: var(--wrapper-padding-sm);
    padding-right: var(--wrapper-padding-sm);
  }
}
