.UserProfileForm {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-1);
  background-color: var(--white);
  margin-bottom: 1.5rem;
}

.coverPic {
  width: 100%;
  height: 35vh;
  border-radius: var(--border-radius);
  object-position: center;
}

.infosContainer {
  position: relative;
  padding: 4rem 5% 2rem;
}

.infosContainer > svg {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.infosRow {
  display: flex;
  justify-content: flex-start;
  row-gap: 2rem;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.profilePicLabel {
  position: absolute;
  top: 0;
  transform: translateY(-70%);
}

.profilePic {
  height: 10rem;
  border-radius: 50%;
  border: 5px solid white;
}

.profession {
  font-weight: 600;
  color: var(--grey-400);
}

.infosColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--grey-500);
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 600;
  vertical-align: middle;
}

.infosTextarea {
  max-width: var(--post-max-width);
  color: var(--grey-600);
  flex: 1 1 30rem;
}

.infosInput {
  color: var(--grey-600);
}

.saveBtn {
  margin-left: auto;
}
