.UserProfileForm {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-1);
  background-color: var(--white);
  margin-bottom: 1.5rem;
}

.coverPicContainer {
  position: relative;
  cursor: pointer;
}

.coverPic {
  width: 100%;
  height: 35vh;
  border-radius: var(--border-radius);
  object-position: center;
  transition: 0.3s ease-in-out;
}

.coverPicButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  background-color: rgba(121, 121, 121, 0.4);
  color: white;
  opacity: 90%;
  transition: 0.3s ease-in-out;
}

.coverPicContainer:hover > .coverPic {
  filter: brightness(0.8);
}

.coverPicContainer:hover > .coverPicButton {
  transform: scale(1.3) translate(-20%, -20%);
  transform-origin: 100% 100%;
  background-color: transparent;
  opacity: 100%;
}

.infosContainer {
  position: relative;
  padding: 4rem 5% 2rem;
}

.infosContainer > svg {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.infosRow {
  display: flex;
  justify-content: flex-start;
  row-gap: 2rem;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.profilePicContainer {
  position: absolute;
  top: 0;
  transform: translateY(-70%);
}

.profilePic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profilePicButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  border-radius: 50%;
  border: none;
  background-color: rgba(121, 121, 121, 0.4);
  color: white;
  opacity: 90%;
  transition: 0.3s ease-in-out;
}

.profilePicContainer:hover > .profilePic {
  filter: brightness(0.8);
}

.profilePicContainer:hover > .profilePicButton {
  transform: scale(1.3) translate(-20%, -20%);
  transform-origin: 100% 100%;
  background-color: transparent;
  opacity: 100%;
}

.profession {
  font-weight: 600;
  color: var(--grey-400);
}

.infosColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--grey-500);
  flex: 1 1 12rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 600;
  vertical-align: middle;
}

.infoItem > svg {
  flex-shrink: 0;
}

.infosTextarea {
  color: var(--grey-600);
  flex: 1 1 25rem;
}

.infosInput {
  color: var(--grey-600);
}

.submitRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.submitWarning {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--grey-500);
}

.submitWarning > svg {
  flex-shrink: 0;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 576px) {
  .submitRow {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
