.UserMenu {
  position: relative;
}

.toggleMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
  flex: 1 1;
}

.toggleMenu:hover {
  color: var(--grey-400);
}

.toggleMenu:hover > .profilePic {
  filter: brightness(1.04);
}

.names {
  display: inline-block;
  font-weight: 600;
  text-align: right;
  flex: 1 1;
}

.profilePic {
  height: 3rem;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 130%;
  right: 0;
  width: 100%;
  min-width: 10rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--shadow-2);
}
.menu > a:hover {
  color: var(--grey-400);
}

@media screen and (max-width: 576px) {
  .names {
    display: none;
  }
}
