.UserMenu {
  position: relative;
}

.toggle_menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
}

.toggle_menu:hover {
  color: var(--grey-400);
}

.toggle_menu:hover > .profile_pic {
  filter: brightness(1.02);
}

.names {
  display: block;
  font-weight: 600;
}

.profile_pic {
  height: 3rem;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 130%;
  right: 0;
  width: 100%;
  min-width: 10rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--shadow-2);
}
.menu > a:hover {
  color: var(--grey-400);
}

@media screen and (max-width: 576px) {
  .names {
    display: none;
  }
}
