.PostForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-weight: 600;
}

.userPic {
  width: 2.5rem;
  border-radius: 50%;
}

.formGroup {
  margin: 0;
}

.textareaEmojiContainer {
  position: relative;
}

.textareaEmojiContainer .emojiPicker {
  position: absolute;
  top: 0;
  right: 0;
}

.contentTextarea {
  flex-grow: 1;
  flex-shrink: 0;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.imageError {
  padding-left: 0;
  margin-top: 0.75rem;
}

.imagePreviewContainer {
  position: relative;
  min-height: 3rem;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(121, 121, 121, 0.4);
  opacity: 90%;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgba(121, 121, 121, 0.5);
  opacity: 100%;
}

.imagePreview {
  width: 100%;
  max-height: 35rem;
  border-radius: var(--btn-border-radius);
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .bottomRow {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
