.PostForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-weight: 600;
}

.user_pic {
  width: 2.5rem;
  border-radius: 50%;
}

.form_group {
  margin: 0;
}

.textarea_emoji_container {
  position: relative;
}

.textarea_emoji_container .emoji_picker {
  position: absolute;
  top: 0;
  right: 0;
}

.content_textarea {
  flex-grow: 1;
  flex-shrink: 0;
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.image_error {
  padding-left: 0;
  margin-top: 0.75rem;
}

.image_preview_container {
  position: relative;
  min-height: 3rem;
}

.delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(121, 121, 121, 0.4);
  opacity: 90%;
  cursor: pointer;
}

.delete_button:hover {
  background-color: rgba(121, 121, 121, 0.5);
  opacity: 100%;
}

.image_preview {
  width: 100%;
  max-height: 35rem;
  border-radius: var(--btn-border-radius);
  object-fit: cover;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .bottom_row {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
