.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  min-height: calc(90vh - var(--header-height));
  margin: 1rem auto;
}

.heroImg {
  flex: 1 1 23rem;
  width: 40%;
  max-width: 36rem;
}

.heroText {
  flex: 1 1 24rem;
  max-width: 36rem;
}

.heroText > h1 > span {
  color: var(--primary-500);
}

.heroText > p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.heroBtn {
  min-width: 165px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .heroText > p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 576px) {
  .heroText > p {
    font-size: 1.2rem;
  }

  .heroBtn {
    width: 100%;
  }
}
