.SinglePost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.user_pic {
  width: 3rem;
  border-radius: 50%;
}

.name_time_container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
}

.name_text {
  text-transform: capitalize;
  font-weight: 600;
}

.time_text {
  font-size: 0.9rem;
  color: var(--grey-500);
}

.content_text {
  padding: 0 0.5rem;
  white-space: pre-line;
  font-size: 1.05rem;
  line-height: 1.5;
}

.image {
  width: 100%;
  max-height: 35rem;
  border-radius: var(--btn-border-radius);
  object-fit: cover;
  margin: auto;
}

.counts_row {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0 0.5rem 1rem;
  font-size: 0.95rem;
  color: var(--grey-500);
}

.interaction_row {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-top: 1px solid var(--grey-200);
}

.interaction_group {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
