.SinglePost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.userPic {
  width: 3rem;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
}

.nameTimeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
}

.nameText {
  text-transform: capitalize;
  font-weight: 600;
  width: fit-content;
}

.nameText > a:hover {
  color: var(--grey-500);
}

.timeText {
  font-size: 0.9rem;
  color: var(--grey-500);
}

.contentText {
  display: block;
  padding: 0 0.5rem;
  white-space: pre-line;
  word-break: break-word;
  font-size: 1.05rem;
  line-height: 1.5;
}

.image {
  width: 100%;
  max-height: 35rem;
  border-radius: var(--btn-border-radius);
  object-fit: cover;
  margin: auto;
}

.countsRow {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0 0.5rem 1rem;
  font-size: 0.95rem;
  color: var(--grey-500);
  user-select: none;
}

.interactionRow {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 1rem 0.5rem 0;
  font-size: 1rem;
  border-top: 1px solid var(--grey-200);
}

.interactionButton {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-700);
  transition: var(--transition);
}

.interactionButton:hover {
  color: var(--grey-500);
}

.likeBtnActive {
  font-weight: 600;
}
