.SinglePost {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.top_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.user_pic {
  width: 2.5rem;
  border-radius: 50%;
}

.name_time_container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
}

.name_text {
  text-transform: capitalize;
}

.time_text {
  font-size: 0.9rem;
  color: var(--grey-500);
}

.image {
  width: 100%;
  max-height: 35rem;
  border-radius: var(--btn-border-radius);
  object-fit: cover;
  margin: auto;
}
