.EmojiPicker {
  position: absolute;
  right: 0;
  bottom: 3px;
  padding: 0.5rem;
  color: var(--grey-500);
}

em-emoji-picker {
  position: absolute;
  right: 0;
  top: 110%;
  box-shadow: var(--shadow-4);
}

@media screen and (max-width: 576px) {
  .EmojiPicker {
    display: none;
  }
}
