.EmojiPicker {
  position: absolute;
  right: 0;
  bottom: 4px;
  color: var(--grey-400);
  cursor: pointer;
}

.EmojiPicker:hover {
  color: var(--grey-500);
}

.EmojiPicker svg {
  padding: 0.5rem;
}

em-emoji-picker {
  position: absolute;
  right: 0;
  top: 110%;
  box-shadow: var(--shadow-4);
}

@media screen and (max-width: 576px) {
  .EmojiPicker {
    display: none;
  }
}
