.Header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: var(--white);
  z-index: 10000;
  box-shadow: var(--shadow-3);
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  width: 15rem;
  max-width: 100%;
  object-fit: scale-down;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
