.SingleComment {
  display: flex;
  gap: 0.5rem;
}

.userPic {
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
}

.rightColumn {
  padding: 0.75rem;
  flex: 1 1;
  border-radius: var(--border-radius);
  background-color: var(--grey-50);
  box-shadow: var(--shadow-1);
}

.topRow {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.nameTimeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1 1;
}

.nameText {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  width: fit-content;
}

.nameText > a:hover {
  color: var(--grey-500);
}

.timeText {
  font-size: 0.8rem;
  color: var(--grey-500);
}

.contentText {
  margin-top: 0.6rem;
  white-space: pre-line;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
